{% extends 'base.html' %}

{% block content %}
<div class="header-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-8 header-slogan">
        <h2>Informação para <strong>todos</strong></h2>
        <p>O Dataminas é uma maneira nova de  mostrar os gastos e a arrecadação do governo de uma forma que dê para entender, interagir e divulgar.
        Nos ajude a analisar as contas do governo e apontar onde tem algo de suspeito!</p>
      </div>
      <div class="col-md-4 center header-image">
        <img src="/static/img/data-header-icon.png" height="180px"/>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-8">
      <h2>Explore os dados do governo</h2>
      <p>Pegamos os dados do <a href="http://www.transparencia.mg.gov.br/">Portal de Transparencia do Estado de Minas Gerais</a> e disponibilizamos em um gráfico interativo.
      Escolha qual área você quer visualizar: você pode ajustar o foco para o período de tempo que quiser.</p>

      <p>Se encontrar algum ponto que achar suspeito, clique nele e avise os outos.
      Se ver algum ponto que já foi sinalizado e concordar com o alerta, sinalize também!</p>

      <p>Nós já separamos alguns pontos que parecem suspeitos. 
      Sintam-se livres para investigar!<br/><br/></p>
      <div class="esferas">
        <div class="arrecadacao col-md-3 esfera">
          <a href="#">
            <img src="/static/img/arrecadacao-icon.png" width="64px"/>
            <h4>Arrecadação</h4>
          </a>
        </div>
        <div class="despesa col-md-3 col-md-offset-1 esfera">
          <a href="{% url 'show_category' 'despesa' %}">
            <img src="/static/img/despesa-icon.png" width="64px"/>
            <h4>Despesa</h4>
          </a>
        </div>
        <div class="divida col-md-3 col-md-offset-1 esfera">
          <a href="#">
            <img src="/static/img/divida-icon.png" width="64px"/>
            <h4>Dívida Pública</h4>
          </a>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-md-offset-1 anomalias">
      <h4>Mais votadas</h4>
      <ul class="nav nav-pills nav-stacked">
        <li><a href="#">
          <strong>Data:</strong> Jan/2013<br/>
          <strong>Tipo:</strong> Arrecação<br/>
          <i class="icon-star"></i> 10 &nbsp; <i class="icon-comments"></i> 22 &nbsp; <i class="icon-dashboard"></i> 100%<br/>
        </a></li>
        <li><a href="#">
          <strong>Data:</strong> Jan/2013<br/>
          <strong>Tipo:</strong> Despesas<br/>
          <i class="icon-star"></i> 10 &nbsp; <i class="icon-comments"></i> 22 &nbsp; <i class="icon-dashboard"></i> 100%<br/>
        </a></li>
        <li><a href="#">
          <strong>Data:</strong> Jan/2013<br/>
          <strong>Tipo:</strong> Dívida Pública<br/>
          <i class="icon-star"></i> 10 &nbsp; <i class="icon-comments"></i> 22 &nbsp; <i class="icon-dashboard"></i> 100%<br/>
        </a></li>
        <li><a href="#">
          <strong>Data:</strong> Jan/2013<br/>
          <strong>Tipo:</strong> Despesas<br/>
          <i class="icon-star"></i> 10 &nbsp; <i class="icon-comments"></i> 22 &nbsp; <i class="icon-dashboard"></i> 100%<br/>
        </a></li>
        <li><a href="#">
          <strong>Data:</strong> Jan/2013<br/>
          <strong>Tipo:</strong> Arrecação<br/>
          <i class="icon-star"></i> 10 &nbsp; <i class="icon-comments"></i> <fb:comments-count href=http://example.com/></fb:comments-count> &nbsp; <i class="icon-dashboard"></i> 100%<br/>
        </a></li>
      </ul>
    </div>
  </div>
</div>
{% endblock %}
