{% extends 'base.html' %}
{% load date %}

{% block content %}
<div class="container margin-top-40">
  <div class="row">
    <div class="col-lg-7 margin-bottom-40">
      {% if point.category.parent %}
      <h2>{{ point.category.parent.name }} de {{ point.category.name }}</h2>
      {% else %}
      <h2>{{ point.category.name }}</h2>
      {% endif %}
      <br/>
      <p><strong>Valor:</strong> R${{ point.value }}</p>
      <p><strong>Data:</strong> {{ point.month|int_to_month }} {{ point.year }}</p>
      <p><strong><i class="icon-dashboard"></i> Alerta automático:</strong> {{ point.algorithm_score }}%</p>
      <p><strong><i class="icon-star"></i> Alertas de usuários:</strong> <span id="alerta_valor">{{ point.user_score }}</span></p>
      <button type="button" class="btn btn-info" id="alertar" onclick="Dajaxice.dataminas.alertar(my_callback, {'pk': {{point.pk}}})"><i class="icon-star"></i> Alertar</button>
      <script>function my_callback(data){ $("#alertar").prop('disabled', true); $("#alerta_valor").html(parseInt($("#alerta_valor").html())+1) }
       </script>
    </div>
    <div class="col-lg-5">
      <h4><i class="icon-comments"></i> Comentários</h4>
      <div class="fb-comments" data-href="{{ request.build_absolute_uri }}" data-numposts="4" data-width="400" data-order-by="reverse_time"></div>
    </div>
  </div>
  </div>
</div>
{% endblock %}
