{% load dajaxice_templatetags %}
{% load absolute %}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html prefix="og: http://ogp.me/ns#" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html prefix="og: http://ogp.me/ns#" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html prefix="og: http://ogp.me/ns#" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html prefix="og: http://ogp.me/ns#" class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Dataminas</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <meta property="og:title" content="Dataminas" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="{{ request.build_absolute_uri }}" />
    <meta property="og:image" content="{{ ABSOLUTE_ROOT }}/static/img/fb_share_highres.jpg" />

    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/base.css">

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
    <script src="/static/js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>
    <script src="http://d3js.org/d3.v3.min.js"></script>
    <script src="/static/js/vendor/d3-tip.js"></script>


    {% block head %}
    {% endblock %}
  </head>
  <body>
  {% dajaxice_js_import %}
  </head>
  <body>
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=166536890214520";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>

    <nav class="navbar navbar-inverse navbar-static-top" role="navigation">
    <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <a class="logo pull-left" href="{% url 'home' %}"><img src="/static/img/logo.png"/></a>
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav navbar-right">
          <li class="active"><a href="{% url 'home' %}">Inicial</a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dados <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="{% url 'show_category' 'arrecadacao'%}">Arrecadação</a></li>
              <li><a href="{% url 'show_category' 'despesa'%}">Despesa</a></li>
              <li><a href="{% url 'show_category' 'divida-publica'%}">Dívida Pública</a></li>
            </ul>
          </li>
          <li><a href="{% url 'about' %}">Sobre</a></li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div>
    </nav>
    {% block content %}
    {% endblock %}
    <footer class="center">
      <div class="container">
        <img src="/static/img/desenvolvido.png" height="200px"/>
        <!-- AddThis Button BEGIN -->
        <div class="addthis_toolbox addthis_default_style " style="width: 300px; margin: 30px auto;">
          <a class="addthis_button_facebook_like" fb:like:layout="button_count" fb:like:href="http://www.facebook.com/minasdata"></a>
          <a class="addthis_button_tweet" tw:text="{% absolute 'home' %} - Uma maneira nova de mostrar os gastos e a arrecadação do governo de Minas!"></a>
          <a class="addthis_counter addthis_pill_style"></a>
        </div>
        <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=xa-526b125a000ace74"></script>
        <!-- AddThis Button END -->
      </div>
    </footer>

    <script>window.jQuery || document.write('<script src="/static/js/vendor/jquery-1.10.1.min.js"><\/script>')</script>
    <script src="/static/js/vendor/bootstrap.min.js"></script>
    {% block js %}
    {% endblock %}

    <!-- google analytics -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    
      ga('create', 'UA-45162248-1', 'dataminas.info');
      ga('send', 'pageview');
    </script>
  </body>
</html>
